---
---
<div
  class="prose prose-lg mx-auto
  prose-h1:font-bold prose-h1:text-3xl
  prose-h2:text-2xl prose-h2:font-semibold
  prose-a:text-blue-600 prose-a:hover:underline
  prose-p:text-justify prose-img:rounded-xl
  prose-headings:mb-4 prose-headings:mt-6">
  <slot />
</div>